[submodule "src/coreclr"]
	path = src/coreclr
	url = https://github.com/3F/coreclr.git
[submodule "src/MvsSln"]
	path = src/MvsSln
	url = https://github.com/3F/MvsSln.git
[submodule "src/hMSBuild"]
	path = src/hMSBuild
	url = https://github.com/3F/hMSBuild.git
